@tailwind base;
@tailwind components;
@tailwind utilities;



@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

span {
  font-family: 'Roboto', sans-serif;
}

body{
  font-family: 'Mitr', sans-serif;
  font-size: 16px;
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

svg {
  display: flex;
  align-self: center;
}